<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <header>
      <img class="home-pic" src="<%= relative_url '/images/favicon/favicon-128.png' %>" alt="Avatar Matias Mascazzini" />
      <%= site.metadata.title %>
      </header>
      <%= render 'navbar_responsive' %>
      <div class='text-centered text-flags'>
        <% resource.all_locales.each do |local_resource| %>
          <a href="<%= local_resource.relative_url %>"><%= locale_to_flag(local_resource.data.locale)  %></a>&nbsp;
        <% end %>
      </div>

    <main>
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
