---
permalink: /404.html
layout: default
---

<section class="lost-container">
  <h1>Uh oh! bad link</h1>
  <div style="text-align: center;">
    <img class="" alt="" src="<%= relative_url '/images/error.gif' %>" />
  </div>
  <br />
  <br />
  <a href="/">Take me home!</a>
</section>

<h2>404: Page Not Found :(</h2>

<p>The requested page could not be found.</p>