---
layout: page
title: Yet Another Techie, but What Techie!
tagline: Who is Matias Mascazzini? it'll depends on who you ask
locale_overrides:
  en:
    title: Yet Another Techie, but What Techie!
    section_titles:
      description: 'About me'
      looking_for: What I am looking for?
      tech_stack:
        title: Tech Stack
        description_text: Some Tech Stack with I have work experience
      tech_skills: Skills
      personal_characteristics: Personal characteristics
      read_book:
        title: Good reads
        description_text: Last books read in English
        technical_review: Technical review
  es:
    title: Otro Techie más, pero qué Techie!
    section_titles:
      description: 'Sobre mi'
      looking_for: ¿Qué estoy buscando?
      tech_stack:
        title: Stack tecnológico
        description_text: Algunos stack tecnológicos con los que tengo experiencia laboral
      tech_skills: Habilidades
      personal_characteristics: Características personales
      read_book:
        title: Buenas lecturas
        description_text: Últimos libros leídos
        technical_review: Revisión Técnica
  pt:
    title: Mais um Techie, mas que Techie!
    section_titles:
      description: 'Sobre mim'
      looking_for: O que estou procurando?
      tech_stack:
        title: Pilha de tecnologia
        description_text: Alguma pilha de tecnologia com a qual tenho experiência de trabalho
      tech_skills: Competências
      personal_characteristics: Características pessoais
      read_book:
        title: Boas leituras
        description_text: últimos livros lidos
        technical_review: Revisao Tecnica

---
<div class="about"><img  src="<%= relative_url '/images/profile.jpeg' %>" alt="Avatar <%= site.metadata.title %>" /></div>
<h2><%= "#{resource.data.section_titles.description.to_s}" %></h2>

<% if site.locale == :en %>
  <p>I am a Software Engineer who builds products for people. I'm a Techie passionate about the impact that technology could have in everyday life for business and I'm in general very curious about its different edges. </p>
  <h4>What makes me a different Software Engineer?</h4>
  <p>I founded and failed some startups and one non-profit organization. I was an independent tech consultant. Due to this background, I'm a Software Engineer who does more than just complete a "ticket"; I bring ideas to the table, ask questions, and propose discussions on User Stories. I try to capture the big picture and think about the product, the users, and the clients.</p>
  <p>I like to drink "Mate" 🧉, meet other techies, and participate in tech community initiatives.</p>
<% elsif site.locale == :es %>
  <p>Soy un Desarrollador de Software que crea productos para las personas. Soy un apasionado por la tecnología y del impacto que esta puede tener en la vida cotidiana y de las empresas. Además, en general, siento curiosidad por sus diferentes temas.</p>
  <h4>¿Qué me hace diferente?</h4>
  <p>Fundé, y fracasé, en varios emprendimientos y en una organización sin fines de lucro. Fui consultor tecnológico y desarrollador independiente. Debido a mi pasado, soy un Techie que hace más que simplemente completar un "ticket"; aporto ideas, hago preguntas y propongo debates sobre las historias de usuario. Intento entender la visión y pensar en el producto, los usuarios y los clientes.</p>
  <p>Me gusta tomar "mate" 🧉, conocer Techies y participar en iniciativas de la comunidad tecnológica.</p>

<% elsif site.locale == :pt %>
  <p>Sou um Engenheiro de Software que cria produtos para as pessoas. Sou apaixonado por tecnologia e pelo impacto que ela pode ter na vida cotidiana e nas empresas. Além disso, de forma geral, sou curioso sobre seus diferentes aspectos.</p>
  <h4>O que me torna diferente?</h4>
  <p>Fundei, e fracassei, em vários empreendimentos e em uma organização sem fins lucrativos. Fui consultor tecnológico e desenvolvedor independente. Devido ao meu histórico, sou um Techie que faz mais do que simplesmente completar um "ticket"; trago ideias, faço perguntas e proponho debates sobre as histórias de usuário. Tento compreender a visão geral e pensar no produto, nos usuários e nos clientes.</p>
  <p>Gosto de beber "Mate", conhecer outros técnicos e participar de iniciativas da comunidade tecnológica.</p>
<% end %>

<% if site.locale == :en %>
<p>One of my biggest weak points, right now, is my conversational English skill but if you have the patience and the culture to support not native speakers, I'll do my best. Meanwhile, sometimes I might need some rephrasing or writing support.</p>
<% elsif site.locale == :pt %>
<p>Não falo português fluentemente, conheço apenas algumas palavras, frases e verbos, mas adoraria praticar com falantes nativos.</p>
<% end %>

<h2><%= "#{resource.data.section_titles.tech_stack.title.to_s}" %></h2>
<p><%= "#{resource.data.section_titles.tech_stack.description_text.to_s}" %> </p>
<ul class="tech-stack-list">
  <li>Ruby On Rails Full-stack Developer SemiSenior</li>
  <p>My stack is mostly Ruby on Rails <a href="https://stackshare.io/matiasmasca/my-rails-stack" target="_blank" rel="nofollow noopener noreferrer">https://stackshare.io/matiasmasca/my-rails-stack</a></p>
  <li>Clojure &amp; ClojureScript Full-stack Jr. Developer</li>
  <p>My stack is mostly Ruby on Rails <a href="https://stackshare.io/matiasmasca/cloujure" target="_blank" rel="nofollow noopener noreferrer">https://stackshare.io/matiasmasca/cloujure</a></p>
</ul>


<h2><%= "#{resource.data.section_titles.tech_skills.to_s}" %></h2>

<ul class="skill-list">
  <li>SaaS</li>
  <li>Ruby</li>
  <li>Ruby on Rails</li>
  <li>BDD, TDD  Continuous Integration</li>
  <li>Agile - Scrum</li>
  <li>HTML - Erb - Haml</li>
  <li>Git</li>
  <li>Python (academic)</li>
  <li>SQL</li>
  <li>Javascript (basic)</li>
  <li>CSS (basic)</li>
  <li>Css Frameworks (Bootstrap, Material)</li>
</ul>

<h2><%= "#{resource.data.section_titles.personal_characteristics.to_s}" %>:</h2>
<ul class="skill-list">
  <li>Pragmatic</li>
  <li>Highly autonomous</li>
  <li>Strong decision-making and execution with imperfect information</li>
  <li>Curious</li>
  <li>Analyst</li>
  <li>Creatiative</li>
  <li>Entrepreneur/Intrapreneur mindset</li>
</ul>

<h2><%= "#{resource.data.section_titles.read_book.title.to_s}" %></h2>
<%= "#{resource.data.section_titles.read_book.description_text.to_s}" %>
<ul>
  <li>Becoming a Technical Leader: An Organic Problem-Solving Approach</li>
  <li>Clean Code: A Handbook of Agile Software Craftsmanship</li>
  <li>RESTful Web APIs by Leonard Richardson</li>
  <li>Remote. Office not required.</li>
</ul>
<p><a href="https://www.goodreads.com/review/list/96597317-matias?utf8=%E2%9C%93&shelf=read&title=matias&sort=date_added&order=a" target="_blank" rel="nofollow noopener noreferrer">Check the Full list</a></p>

<h3><%= "#{resource.data.section_titles.read_book.technical_review.to_s}" %></h3>
<p>
  <h4>
    Book: Engineering Software as a Service: An Agile Approach Using Cloud Computing
  </h4>
</p>
<p>
  I helped reviewing the technical accuracy of the Second Edition changes for Chapter 5
</p>
<a href="https://www.saasbook.info/">http://www.saasbook.info/</a>
<br>
<br>
<h2><%= "#{t("site.support_me")}" %></h2>
<p><%= "#{t("site.support_me_message")}" %></p>
<div class="">
    <div>
        PayPal (World wide): <a class="link" href="https://paypal.me/matiasmasca">paypal.me/matiasmasca</a>
    </div>
</div>
<br>
<br>
<div>
    <h2><%= "#{t("site.keep_in_touch")}" %></h2>
    <%= render "social_media" %>
</div>
