<header>
  <img class="home-pic" src="<%= relative_url '/images/favicon/favicon-128.png' %>" alt="Avatar Matias Mascazzini" />
  <%= @metadata.title %>
</header>
<nav>
  <ul>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/posts' %>">Blog</a></li>
    <li><a href="<%= relative_url '/talks' %>">Talks</a></li>
    <li><a href="<%= relative_url '/projects' %>">Projects</a></li>
    <li><a href="<%= relative_url '/about' %>">About</a></li>
    <li><a href="<%= relative_url '/curriculum' %>">Resume</a></li>
  </ul>
</nav>