:root {
  --body-background: white;
  --body-color: #444;
  --heading-color: black;
  --action-color: #CC342D;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.5;
}

a {
  color: var(--action-color);
  text-decoration: none;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 4rem;
  max-width: 65rem;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

footer {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.home-pic{
  width: 96px;
  height: 96px;
  margin-bottom: 5px;
  transition: all .2s;
  opacity: 1;
}

.selfi {
  width: 125px;
  height: 125px;
  margin-bottom: 25px;
  border-radius: 100%;
  transition: all .2s;
  opacity: 1;
}

.description {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  color: #757575;
  width: 70%;
  margin: 0 auto 30px;
}
.description a {
  color: #CC342D;
}

.text-red {
  color: #CC342D;
}

.text-centered {
  text-align: center;
}

.text-flags {
  font-size: 2.0rem;
}

.about img {
  margin: 0 auto;
  display: block;
  text-align: center;
}

  /* (C3) IMAGE for BLOG */
img[src*="#post-img"] {
     /* (C1) DIMENSION */
  width: 100%;
  height: 350px; /* optional */
  padding: 10px;

  /* (C3) IMAGE RESIZE */
  /* cover | contain | fill | scale-down */
  object-fit: contain;
  position: relative;
}

/* (B) GALLERY WRAPPER */
.gallery {
  /* (B1) GRID LAYOUT - 3 IMAGES PER ROW */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  /* (B2) OPTIONAL WIDTH RESTRICT */
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

/* (C) GALLERY IMAGES */
.gallery img {
  /* (C1) DIMENSION */
  width: 100%;
  height: 150px; /* optional */
  padding: 10px;

  /* (C2) COLORS */
  border: 1px solid #ddd;
  background: #fff;

  /* (C3) IMAGE RESIZE */
  /* cover | contain | fill | scale-down */
  object-fit: contain;
  position: relative;
}

/* (D) ON SMALL SCREENS - 2 IMAGES PER ROW */
@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* (E) OPTIONAL ZOOM ON HOVER */
.gallery img:hover {
  z-index: 9;
  transform: scale(1.3);
  /* linear | ease | ease-in | ease-out | ease-in-out */
  transition: transform ease 0.5s;
}

/* (F) FULLSCREEN MODE */
.gallery img.full {
  position: fixed;
  top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100vh;
  object-fit: fit;
  background: rgba(0, 0, 0, 0.7);
}
.gallery img.full:hover {
  z-index: 999;
  transform: none;
}

.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Adjust as needed */
}

.links-tree-container {
  width: 80%;
  max-width: 400px;
}

.links-tree {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link-tree {
  background-color: #CC342D;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.link-tree:hover {
  background-color: #9b1c16;
}