/*Strip the ul of padding and list styling*/
.responsive-navbar ul {
  list-style-type:none;
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

/*Create a horizontal list with spacing*/
.responsive-navbar li {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

/*Style for menu links*/
.responsive-navbar li a {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  color: #d64045;
  background: #f3f3f3;
  text-decoration: none;
}
/*Hover state for top level links*/
.responsive-navbar li:hover a {
  background: #d64045;
  color: #f3f3f3;
}
/*Style for dropdown links*/
.responsive-navbar li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}
/*Hover state for dropdown links*/
.responsive-navbar li:hover ul a:hover {
  background: #d64045;
  color: #fff;
}
/*Hide dropdown links until they are needed*/
.responsive-navbar li ul {
  display: none;
}
/*Make dropdown links vertical*/
.responsive-navbar li ul li {
  display: block;
  float: none;
}
/*Prevent text wrapping*/
.responsive-navbar li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}
/*Display the dropdown on hover*/
.responsive-navbar  ul li a:hover + .hidden, .hidden:hover {
  display: block;
}
/*Style 'show menu' label button and hide it by default*/
.responsive-navbar  .show-menu {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #d64045;
  text-align: center;
  padding: 10px 0;
  display: none;
}
/*Hide checkbox*/
.responsive-navbar  input[type=checkbox]{
  display: none;
}
/*Show menu when invisible checkbox is checked*/
.responsive-navbar  input[type=checkbox]:checked ~ #menu{
  display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
  .responsive-navbar  ul {
      position: static;
      display: none;
  }
  /*Create vertical spacing*/
  .responsive-navbar li {
      margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .responsive-navbar ul li, li a {
      width: 100%;
  }
  /*Display 'show menu' link*/
  .responsive-navbar .show-menu {
      display:block;
  }
}