<footer>
  <div>
  <%= t("footer.keep_in_touch") %> <a href='<%= site.data.social_links.twitter %>'> @matiasmasca</a>
  </div>
  <br>
  <div>
    <%= t("footer.made_with") %> ❤️ & 🧉 <%= t("footer.with") %> <a href="https://www.bridgetownrb.com/" target="_blank">Bridetown</a>
    <div><%= t("footer.made_in") %> <a href="https://en.wikipedia.org/wiki/Corrientes" target="_blank">Corrientes city, Argentina 🇦🇷</a>
  </div>
</footer>