<%= render "google_analytics", metadata: site.metadata %>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>

<meta name="description" content="<%= metadata.description %>" />

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= relative_url '/images/favicon/apple-touch-icon-57x57.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= relative_url '/images/favicon/apple-touch-icon-114x114.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= relative_url '/images/favicon/apple-touch-icon-72x72.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= relative_url '/images/favicon/apple-touch-icon-144x144.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= relative_url '/images/favicon/apple-touch-icon-60x60.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= relative_url '/images/favicon/apple-touch-icon-120x120.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= relative_url '/images/favicon/apple-touch-icon-76x76.png'%>" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= relative_url '/images/favicon/apple-touch-icon-152x152.png'%>" />
<link rel="icon" type="image/png" href="<%= relative_url '/images/favicon/favicon-196x196.png' %>" sizes="196x196" />
<link rel="icon" type="image/png" href="<%= relative_url '/images/favicon/favicon-96x96.png' %>" sizes="96x96" />
<link rel="icon" type="image/png" href="<%= relative_url '/images/favicon/favicon-32x32.png' %>" sizes="32x32" />
<link rel="icon" type="image/png" href="<%= relative_url '/images/favicon/favicon-16x16.png' %>" sizes="16x16" />
<link rel="icon" type="image/png" href="<%= relative_url '/images/favicon/favicon-128.png' %>" sizes="128x128" />

<%= live_reload_dev_js %>
