<div class="links-tree-container">
  <div class="links-tree">
    <% if site.data.social_links.linkedin %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  linkedin' data-title='<%= site.data.social_links.linkedin %>' href='<%= site.data.social_links.linkedin %>' target='_blank'><i class='ri-linkedin-fill'></i> <%= t("social.my_profile") %> LinkedIn</a>
    <% end %>
    <% if site.data.social_links.twitter %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  twitter' data-title='<%= site.data.social_links.twitter %>' href='<%= site.data.social_links.twitter %>' target='_blank'><i class="ri-twitter-x-fill"></i> <%= t("social.my_profile") %>  X/Twitter</a>
    <% end %>
    <% if site.data.social_links.mastodon %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  mastodon' data-title='<%= site.data.social_links.mastodon %>' href='<%= site.data.social_links.mastodon %>' target='_blank'><i class='ri-mastodon-fill'></i> <%= t("social.my_profile") %>  Mastodon/ruby.social</a>
    <% end %>
    <% if site.data.social_links.youtube %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  youtube' data-title='<%= site.data.social_links.youtube %>' href='<%= site.data.social_links.youtube %>' target='_blank'><i class='ri-youtube-fill'></i> <%= t("social.my_profile") %>  YouTube</a>
    <% end %>
    <% if site.data.social_links.medium %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  medium' data-title='<%= site.data.social_links.medium %>' href='<%= site.data.social_links.medium %>' target='_blank'><i class='ri-medium-fill'></i> <%= t("social.my_profile") %>  Medium</a>
    <% end %>
    <% if site.data.social_links.gitlab %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  gitlab' data-title='<%= site.data.social_links.gitlab %>' href='<%= site.data.social_links.gitlab %>' target='_blank'><i class='ri-gitlab-fill'></i> <%= t("social.my_profile") %>  Gitlab</a>
    <% end %>
    <% if site.data.social_links.github %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  github' data-title='<%= site.data.social_links.github %>' href='<%= site.data.social_links.github %>' target='_blank'><i class='ri-github-fill'></i> <%= t("social.my_profile") %>  Github</a>
    <% end %>
    <% if site.data.social_links.stackoverflow %>
      <a class='link-tree' title='<%= t("social.my_profile") %>  stackoverflow' data-title='<%= site.data.social_links.stackoverflow %>' href='<%= site.data.social_links.stackoverflow %>' target='_blank'><i class='ri-stack-overflow-fill'></i> <%= t("social.my_profile") %>  Stackoverflow</a>
    <% end %>
    <% if site.data.social_links.contact %>
      <a class='link-tree' title='email address' data-title='<%= site.data.social_links.contact %>' href='mailto:<%= site.data.social_links.contact %>' target='_blank'><i class='ri-mail-fill'></i><%= t("social.my_email") %></a>
    <% end %>
  </div>
</div>


