<nav id="menu">
  <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
  <input type="checkbox" id="tm">
  <ul class="main-menu clearfix">
    <li><a href="<%= relative_url in_locale '/' %>"> <%= t("nav.home") %> </a></li>
    <li><a href="<%= relative_url in_locale '/now' %>"> <%= t("nav.now") %> </a></li>
    <li><a href="<%= relative_url in_locale '/posts' %>"><%= t("nav.blog") %></a></li>
    <li><a href="<%= relative_url in_locale '/talks' %>"><%= t("nav.talks") %></a></li>
    <li>
      <a href="#"><%= t("nav.works") %>
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
      <input type="checkbox" id="sm1">
      <ul class="sub-menu">
        <li><a href="<%= relative_url in_locale '/experiences' %>"><%= t("nav.experiences") %></a></li>
        <li><a href="<%= relative_url in_locale '/projects' %>"><%= t("nav.projects") %></a></li>
        <li><a href="<%= relative_url in_locale '/curriculum' %>"><%= t("nav.resume") %></a></li>
      </ul>
    </li>

    <li>
      <a href="#"><%= t("nav.about") %>
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
      </a>
      <input type="checkbox" id="sm2">
      <ul class="sub-menu">
        <li><a href="<%= relative_url in_locale '/about' %>"><%= t("nav.about_submenu") %></a></li>
        <li><a href="<%= relative_url in_locale '/education' %>"><%= t("nav.education") %></a></li>
      </ul>
    </li>


    <!--
    <li><a href="#">2-level DD
        <span class="drop-icon">▾</span>
        <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
      </a>
      <input type="checkbox" id="sm1">
      <ul class="sub-menu">
        <li><a href="#">Item 2.1</a></li>
        <li><a href="#">Item 2.2
            <span class="drop-icon">▾</span>
            <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
          </a>
          <input type="checkbox" id="sm2">
          <ul class="sub-menu">
            <li><a href="#">Item 2.2.1</a></li>
            <li><a href="#">Item 2.2.2</a></li>
            <li><a href="#">Item 2.2.3</a></li>
          </ul>
        </li>
        <li><a href="#">Item 3.4</a></li>
      </ul>
    </li>
    <li><a href="#">Another Sample</a></li>
    -->
  </ul>
</nav>