<!-- Add icon library -->
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet">

<div class='social-links'>
  <% if site.data.social_links.mastodon %>
    <a class='ri-2x' title='My profile on mastodon' data-title='<%= site.data.social_links.mastodon %>' href='<%= site.data.social_links.mastodon %>' target='_blank'><i class="ri-mastodon-fill"></i></a>
    <% end %>
  <% if site.data.social_links.twitter %>
    <a class='ri-2x' title='My profile on twitter' data-title='<%= site.data.social_links.twitter %>' href='<%= site.data.social_links.twitter %>' target='_blank'><i class="ri-twitter-x-fill"></i></a>
  <% end %>
  <% if site.data.social_links.linkedin %>
    <a class='ri-2x' title='My profile on linkedin' data-title='<%= site.data.social_links.linkedin %>' href='<%= site.data.social_links.linkedin %>' target='_blank'><i class='ri-linkedin-fill'></i></a>
  <% end %>
  <% if site.data.social_links.youtube %>
    <a class='ri-2x' title='My profile on youtube' data-title='<%= site.data.social_links.youtube %>' href='<%= site.data.social_links.youtube %>' target='_blank'><i class='ri-youtube-fill'></i></a>
  <% end %>
  <% if site.data.social_links.medium %>
    <a class='ri-2x' title='My profile on medium' data-title='<%= site.data.social_links.medium %>' href='<%= site.data.social_links.medium %>' target='_blank'><i class='ri-medium-fill'></i></a>
  <% end %>
  <% if site.data.social_links.gitlab %>
    <a class='ri-2x' title='My profile on gitlab' data-title='<%= site.data.social_links.gitlab %>' href='<%= site.data.social_links.gitlab %>' target='_blank'><i class='ri-gitlab-fill'></i></a>
  <% end %>
  <% if site.data.social_links.github %>
    <a class='ri-2x' title='My profile on github' data-title='<%= site.data.social_links.github %>' href='<%= site.data.social_links.github %>' target='_blank'><i class='ri-github-fill'></i></a>
  <% end %>
  <% if site.data.social_links.stackoverflow %>
    <a class='ri-2x' title='My profile on stackoverflow' data-title='<%= site.data.social_links.stackoverflow %>' href='<%= site.data.social_links.stackoverflow %>' target='_blank'><i class='ri-stack-overflow-fill'></i></a>
  <% end %>
  <% if site.data.social_links.contact %>
    <a class='ri-2x' title='My email' data-title='<%= site.data.social_links.contact %>' href='mailto:<%= site.data.social_links.contact %>' target='_blank'><i class='ri-mail-fill'></i></a>
  <% end %>
</div>